.main-container {
  width: 730px;
  height: 512px;
  font-family: "Space Mono";
  font-style: normal;
  line-height: normal;
  .input-container {
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    padding: 0 10px 0 32px;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-radius: 15px;

    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    .img-input-container {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      img {
        width: 24.058px;
        height: 24px;
        flex-shrink: 0;
      }
      input {
        width: 400px;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px; /* 138.889% */
      }
    }
    button {
      width: 106px;
      height: 50px;
      border-radius: 10px;
      border: none;
      background: #0079ff;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
@media only screen and (max-width: 600px) {
  .main-container {
    width: 95%;
    .input-container {
      padding: 10px;
      .img-input-container {
        input {
          width: 220px;
        }
      }
      button {
        width: 90px;
      }
    }
  }
}
