.light {
  color: white;
  background-color: var(--black-dark);
}
.dark {
  color: black;
  background: #f6f8ff;
}
.inputdark {
  background: #fefefe;
  color: #4b6a9b;
  & ::placeholder {
    color: #4b6a9b;
  }
}

.inputlight {
  background: #1e2a47;
  color: #fff;
  & ::placeholder {
    color: #fff;
  }
}
