:root {
  --blue-light: #0079ff;
  --grey-light: #697c9a;
  --blue-grey-light: #4b6a9b;
  --black-light: #2b3442;
  --grey-very-light: #f6f8ff;
  --white-light: #fefefe;

  --white-dark: #ffffff;
  --black-dark: #141d2f;
  --blue-dark: #1e2a47;
}
